<!DOCTYPE html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

		<link rel="icon" href="https://icons.veryicon.com/png/System/Blue%20Bits/shield.png">
		<title>Charlie Hall - Privacy Policy</title>
	</head>
	<body>
		<style>
			body {
				font-family: 'Roboto', sans-serif;

				display: flex;
				justify-content: center;
			}

			#major_document {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				max-width: 600px;
			}

			h2 {
				margin-bottom: 5px;
			}

			h3 {
				margin-top: 5px;
			}
		</style>

		<div id="major_document">
			<h1>Privacy Policy</h1>
			<h3>This document contains information on how data from you (the research participants) will be used by us (the research group).</h3>
			
			<a href="#software-spec"></a>
			<h2>What is the software for?</h2>
			<h3>This software seeks to understand trends in wikipedia usage between different people from many demographic backgrounds. We will use the data in further research for educational advancements</h3>

			<a href="#demographics"></a>
			<h2>What demographics and data are used?</h2>
			<h3>All the data utilized cannot be tracked back to any individuals. The demographics relate to:
				<ul>
					<li>Age</li>
					<li>Gender / Pronouns</li>
					<li>Race / Ethnicity</li>
					<li>Current Level of Education</li>
				</ul>

				All other tracking on sites only occurs on <a href="https://www.wikipedia.org/">Wikipedia</a> where the following data is tracked:

				<ul>
					<li>Hours looking at pages</li>
					<li>Votes on a page</li>
				</ul>
			</h3>

			<h2>How are demographics and data used?</h2>
			<h3>All of the data we use solely for research purposes and algorithm strategies in educational software.</h3>
		</div>
	</body>
</html>